@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,700&display=swap");
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

header {
  height: 126px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px !important;
  left: 0;
  padding: 0;
  margin-top: -1px;
  z-index: 99;
}

header .container {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

header .container .hamburger-wrapper {
  display: none;
}

header .toolbar {
  background-color: #27AC5F;
  height: 45px;
  padding-bottom: 9px;
  z-index: 99;
  position: relative;
}

header .menu {
  background-color: #DEDBDB;
  z-index: 1;
  position: relative;
}

header .menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .container .menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu .container .menu__button .download {
  background-color: #27AC5F;
  font-weight: 700;
  width: 170px;
  height: 54px;
  margin: auto;
  border: none;
  border-radius: 27px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 10px;
}

header .menu .container .menu__button .download:hover {
  background-color: #8adbac;
}

header .menu .menu__content {
  list-style: none;
  margin-top: 10px;
  margin-right: 50px;
}

header .menu .dropbtn {
  background-color: #DEDBDB;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

header .menu .dropbtn:hover, header .menu .dropbtn:focus {
  background-color: #DEDBDB;
}

header .menu .btn {
  background-color: #DEDBDB;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

header .menu .btn:hover, header .menu .btn:focus {
  background-color: #DEDBDB;
}

header .menu .userbtn {
  background-color: #DEDBDB;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

header .menu .userbtn:hover, header .menu .userbtn:focus {
  background-color: #DEDBDB;
}

header .menu .dropdown {
  position: relative;
  display: inline-block;
}

header .menu .dropdown-user {
  display: none;
  position: absolute;
  background-color: #DEDBDB;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px #000;
          box-shadow: 0px 8px 16px 0px #000;
  z-index: 1;
}

header .menu .dropdown-user a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .menu .dropdown-contact {
  display: none;
  position: absolute;
  background-color: #DEDBDB;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px #000;
          box-shadow: 0px 8px 16px 0px #000;
  z-index: 1;
}

header .menu .dropdown-contact a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #DEDBDB;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px #000;
          box-shadow: 0px 8px 16px 0px #000;
  z-index: 1;
}

header .menu .dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .menu .dropdown a:hover {
  background-color: #DEDBDB;
}

header .menu .show {
  display: block;
}

header .content {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: relative;
}

header .content span {
  padding: 0px 15px;
  color: #FFFFFF;
}

header .content li span {
  color: #FFFFFF;
}

header .content li a {
  color: #FFFFFF;
  text-decoration: none;
}

header .content li label {
  color: #FFFFFF;
}

header .content .language {
  position: relative;
}

header .content .language #change-lang {
  position: relative;
  width: 118px;
  height: 28px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: #27AC5F;
  outline: none;
  padding: 0;
  font-size: 12px;
}

header .content .language #change-lang img {
  position: absolute;
  width: 18px;
  height: 12px;
}

header .content .language #change-lang img:first-child {
  left: 6px;
}

header .content .language #change-lang img:last-child {
  cursor: pointer;
  height: 20px;
  padding: 3px 3px;
  top: 0;
  border-left: 1px solid #FFFFFF;
  width: 20px;
  right: 0px;
}

header .content .language .dropdown {
  background-color: #27AC5F;
  position: absolute;
  display: none;
  top: 30px;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

header .content .language .dropdown button {
  background-color: #27AC5F;
  border: 0;
  width: 100%;
  text-align: left;
  padding: 6px;
  cursor: pointer;
  height: 28px;
}

header .content .language .dropdown button img {
  width: 18px;
  height: 12px;
}

.layout {
  position: block;
  background-image: url("../image/background-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 90px;
  padding: 138px 50px 238px;
  padding-bottom: 158px;
}

.layout .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout .container .layout__content {
  padding-top: 180px;
  z-index: 4;
  position: relative;
  top: 0;
}

.layout .container .layout__content h1 {
  font-size: 50px;
  font-weight: 700;
}

.layout .container .layout__content span {
  font-size: 16px;
  font-weight: 400;
}

.layout .container .layout__image {
  position: absolute;
  top: 0;
  right: 30px;
}

.landing-page {
  margin-bottom: 30px;
}

.landing-page__content {
  padding: 120px 0px 80px 0px;
}

.landing-page__content h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  max-width: 920px;
  padding-bottom: 30px;
}

.landing-page__content h1 span {
  color: #27AC5F;
}

.landing-page__content img {
  max-width: 100%;
  height: auto;
}

.landing-page__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.landing-page__list .latest-article-cart {
  width: 300px;
  min-height: 380px;
  text-align: center;
  border: 1px solid #27AC5F;
  border-radius: 20px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 2fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.landing-page__list .latest-article-cart img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visafe-map {
  background-image: url("../image/background-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.visafe-map .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visafe-map__image {
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  font-size: 100%;
  vertical-align: baseline;
}

.visafe-map__image img {
  width: auto;
  height: auto;
  display: block;
  max-width: unset !important;
  margin-top: 70px;
  margin-left: -70px;
}

.visafe-map__content {
  color: #FFFFFF;
  width: 100%;
  float: right;
  margin-top: -100px;
}

.visafe-map__content .top h1 {
  font-size: 40px;
  font-weight: 600;
  padding-top: 0px;
  color: #FFFFFF !important;
}

.visafe-map__content .contact {
  padding-left: 25px;
}

.visafe-map__content .contact .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.visafe-map__content .contact .item .item--image img {
  top: 5px;
  border-radius: 15px;
  margin-right: 5px;
}

.visafe-map__content .contact .item .item--content {
  margin-left: 11px;
}

.visafe-map__content .contact .item .item--content .title {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 10px;
  line-height: 35px;
  margin: 0;
}

.visafe-map__content .contact .item .item--content .content {
  font-size: 16px;
  font-weight: normal;
  line-height: 27px;
}

.visafe-map__content .contact .item .first--content:last-child {
  padding-bottom: 20px !important;
}

.section-regular {
  background: #FFFFFF !important;
  position: relative;
  padding: 110px 0 90px;
  overflow: hidden;
}

.section-regular__text {
  text-align: center;
}

.section-regular__text h1 span {
  color: #27AC5F;
}

.section-regular__slogan {
  text-align: center;
}

.section-regular__slogan h2 {
  margin-bottom: 45px;
}

.section-regular__slogan h2::before {
  content: '“';
  font-family: 'Playfair Display SC', serif;
  font-size: 126.5px;
  color: #DEDBDB;
}

.section-regular__slogan .star {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.section-regular__slogan .star li {
  margin-right: 30px;
}

.section-regular__slider {
  position: relative;
}

.section-regular__slider .prev {
  position: absolute;
  color: #707070;
  opacity: 1;
  left: 22px;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -90px;
  font-size: 48px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.section-regular__slider .prev:hover, .section-regular__slider .prev::before {
  text-shadow: 0 0;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  color: #27AC5F;
}

.section-regular__slider .next {
  position: absolute;
  color: #707070;
  right: 22px;
  opacity: 1;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -90px;
  font-size: 48px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.section-regular__slider .next:hover, .section-regular__slider .next::before {
  text-shadow: 0 0;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  color: #27AC5F;
}

.section-regular__dot {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.section-regular__dot label {
  background-color: #DEDBDB;
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  margin: 0 .5em 1em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.section-regular__dot label:hover {
  margin-right: 0;
  background-color: #27AC5F;
}

.footer {
  background-color: #1b1b1b;
  border-top: 1px solid #27AC5F;
}

.footer__list {
  height: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.footer__list .info {
  margin-top: 30px;
}

.footer__list .info__image {
  margin-bottom: 30px;
}

.footer__list .info__image img {
  max-width: unset;
}

.footer__list .info__address {
  margin-bottom: 20px;
}

.footer__list .info__address span {
  font-size: 14px;
  font-weight: 550;
  color: #707070 !important;
  line-height: 20px;
}

.footer__list .info__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list .info__icon img {
  height: 40px;
}

.footer__list .infomation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer__list .infomation-list ul li {
  list-style: none;
  margin-bottom: 15px;
  color: #707070;
}

.footer__list .infomation-list ul li:hover {
  color: #FFFFFF;
}

.footer__list .infomation-list ul .qas {
  margin-bottom: 30px;
}

.footer__list .infomation-list ul .button {
  margin-top: 15px;
}

.footer__list .infomation-list ul .button a {
  font-size: 14px;
}

.footer__list .infomation-list ul h3 {
  font-size: 14px;
}

.footer__list .infomation-list ul h3:hover {
  color: #27AC5F;
}

.footer__list .infomation-list ul button {
  background-color: #27AC5F;
  font-weight: 700;
  width: 170px;
  height: 54px;
  margin: auto;
  border: none;
  border-radius: 27px;
  color: #FFFFFF;
  font-size: 18px;
}

.footer__list .infomation-list ul button:hover {
  background-color: #8adbac;
}

.footer__list .infomation-list ul hr {
  width: 150px;
  color: #707070;
}

.footer__contact {
  background-color: #000;
  color: #707070;
  text-align: center;
  padding: 20px 0;
}

.footer__contact span {
  font-size: 16px;
}

#myBtn {
  opacity: 0.8;
  right: 20px;
  bottom: 20px;
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 9999;
}

#myBtn img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  header menu__content {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px 50px;
  }
  #logo {
    width: 70%;
  }
  #myBtn {
    right: 150px;
  }
  #myBtn img {
    width: 50px !important;
    height: 50px !important;
  }
  #main-header {
    top: 0 !important;
  }
  header {
    top: 0;
    height: 80px;
  }
  header .container .hamburger-wrapper {
    display: block;
  }
  header .container .hamburger-wrapper img {
    color: #27AC5F;
  }
  header .toolbar {
    display: none;
  }
  header .menu {
    background-color: #FFFFFF;
  }
  header .menu .container .menu__navigation {
    position: fixed;
    top: 55px;
    left: 10vw;
    width: 75vw;
    height: 300px;
    padding: 1.5rem 0;
    margin: auto;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 35px;
    background-color: #DEDBDB;
    text-align: center;
  }
  header .menu .container .menu__navigation .menu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .layout .container .layout__content {
    padding-top: 60px;
  }
  .layout .container .layout__content h1 {
    font-size: 24px;
    line-height: 35px;
  }
  .layout .container .layout__content .description {
    padding-top: 10px;
    margin-right: 200px;
  }
  .layout .container .layout__content .description span {
    font-size: 15px;
  }
  .layout .container .layout__image img {
    float: right;
  }
  .landing-page {
    padding-bottom: 0px;
  }
  .landing-page__content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .landing-page__content h1 {
    padding-bottom: 0px;
    font-size: 24px;
    line-height: 35px;
  }
  .landing-page__content img {
    padding-bottom: 20px;
  }
  .landing-page__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .landing-page__list .latest-article-cart {
    width: 280px;
    min-height: 350px;
    margin-right: 20px;
  }
  .visafe-map .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .visafe-map__image {
    padding-left: 60px;
  }
  .visafe-map__content {
    margin-bottom: 50px;
  }
  .visafe-map__content .top h1 {
    font-size: 24px;
    line-height: 35px;
  }
  .visafe-map__content .contact .item .item--image img {
    top: 10px;
  }
  .visafe-map__content .contact .item .item--content .title {
    font-size: 18px;
  }
  .visafe-map__content .contact .item .item--content .content {
    font-size: 15px;
    line-height: 25px;
  }
  .footer__list {
    height: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0px;
  }
  .footer__list .info__image img {
    height: 30px;
  }
  .footer__list .infomation-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer__list .infomation-list ul {
    margin: 0;
    padding: 0;
  }
  .footer__list .infomation-list ul:last-child {
    margin-right: 0;
  }
  .footer__list .infomation-list ul:last-child hr {
    float: left;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 10px 20px !important;
  }
  #myBtn {
    right: 50px;
  }
  #myBtn img {
    width: 50px !important;
    height: 50px !important;
  }
  header {
    top: 0;
    height: 80px;
  }
  header .toolbar {
    display: none;
  }
  header .menu {
    height: 60px !important;
  }
  header .menu .container .menu__navigation {
    width: 280px;
    height: 400px;
    left: 7vw;
    padding: 0;
  }
  header .menu .container .menu__navigation .menu__content {
    padding-left: 0px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layout {
    padding: 50px 0;
  }
  .layout .container .layout__content {
    padding-top: 0px;
  }
  .layout .container .layout__content h1 {
    white-space: normal;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
  }
  .layout .container .layout__content .description {
    max-width: 200px;
    text-align: left;
    margin-right: 0;
  }
  .layout .container .layout__content .description span {
    font-size: 12px;
  }
  .landing-page .container .landing-page__content h1 {
    font-size: 16px;
    line-height: 30px;
  }
  .landing-page .container .landing-page__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .landing-page .container .landing-page__list .latest-article-cart {
    width: 230px;
    min-height: 380px;
    margin-right: 20px;
  }
  .visafe-map__image img {
    width: 200px;
    padding-left: 20px;
    margin-top: 20px;
  }
  .visafe-map__content .top h1 {
    font-size: 15px;
    padding-top: 50px;
  }
  .visafe-map__content .contact .item .item--image img {
    margin-top: 10px;
  }
  .visafe-map__content .contact .item .item--content .title {
    font-size: 13px;
  }
  .visafe-map__content .contact .item .item--content .content {
    font-size: 13px;
  }
  .section-regular .container .section-regular__text h1 {
    font-size: 16px;
    line-height: 30px;
  }
  .section-regular .container .section-regular__slogan h2 {
    font-size: 12px;
    text-align: center;
  }
  .section-regular .container .section-regular__slogan span {
    font-size: 12px;
  }
  .section-regular .container .section-regular__slogan .star {
    margin: 0;
  }
  .section-regular .container .section-regular__slogan .star li {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */